.game-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: none;
}

.game-over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.stats {
	width: 150px;
}