.high-scores {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	.high-scores-list {
		.name {
			display: inline-block;
			width: 150px;
		}
	}

	> .nav {
		text-align: center;
	}
}