.hoc {
	position: absolute;
	perspective: 100px;

	.player {
		background: url("/public/player.png");
		background-size: 800%;
		transition: transform 200ms linear;
		transform: rotateY(0deg);
	}

	.enemy {
		background: url("/public/enemy.png");
		background-size: 500%;
	}

	.explosion {
		background: url("/public/explosion.png");
		background-size: 800%;
	}

	.rocket {
		background: url("/public/rocket-blue.png");
		background-size: contain;
	}

	&.move-left {
		> .player {
			transform: rotateY(-25deg);
		}
	}

	&.move-right {
		> .player {
			transform: rotateY(25deg);
		}
	}
}