.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  perspective: 1000px;

  > li {
    background: #4d5361;
    border: 4px solid #8a8e9b;
    color: white;
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    cursor: pointer;
    transform: rotateY(20deg);
    transition: transform 250ms ease-out;

    > a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background-color: #596174;
      border-color: #7d899c;
      transform: rotateY(10deg);
    }
  }
}