@font-face {
	font-family: deadSpace;
	src: url(/public/DeadSpaceTitleFont.ttf);
}

html, body, #root {
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: deadSpace;
	user-select: none;
}

* {
	box-sizing: border-box;
}

a {
	color: white;
}

.center {
	text-align: center;
}